/* XPATH */



body {
    font-family: fantasy;
}
table{
    border-spacing: 0px;
}

td {
    border: 2px solid crimson;
}
h1 {
    text-align: center;
    font-size: 24pt;
    color: crimson;

}
a {
    color: darkgoldenrod;
}

code {
    color: #ffa300;
}

span {
    color: #00dc0e;
    text-underline: dashed-heavy;
    font-size: 36pt;
}